<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Edersix | Services Catalog</title>
</head>
<body>
	<table>
		<tr>
			<th>Service Number</th>
			<th>Service Name</th>
			<th>Service URI</th>			
		</tr>
		<tr th:each="service:${services}">
			<td th:text="${service.number}"></td>
			<td th:text="${service.name}"></td>
			<td th:text="${service.uri}"></td>
		</tr>
	</table>
</body>
</html>